<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_ha_he_fa_ks_ku_ps_ur_yi' contains language_code -%} dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}>
<head>
  <meta name="robots" content="index, follow">
    {%- assign privacy_policy_text = shop.metafields.consentbar_text["privacy_policy_text"] -%}
    {%- assign accept_button_text = shop.metafields.consentbar_text["accept_button_text"] -%}
    {%- assign close_button_text = shop.metafields.consentbar_text["close_button_text"] -%}
    {%- assign reject_button_text = shop.metafields.consentbar_text["reject_button_text"] -%}
    {%- assign change_cookies_text = shop.metafields.consentbar_text["change_cookies_text"] -%}
    {%- assign text = shop.metafields.consentbar_text["text"] -%}

    {%- assign strict_cookies_checkbox = shop.metafields.preferences_text["strict_cookies_checkbox"] -%}
    {%- assign strict_cookies_text = shop.metafields.preferences_text["strict_cookies_text"] -%}

    {%- assign analytics_cookies_checkbox = shop.metafields.preferences_text["analytics_cookies_checkbox"] -%}
    {%- assign analytics_cookies_text = shop.metafields.preferences_text["analytics_cookies_text"] -%}

    {%- assign marketing_cookies_checkbox = shop.metafields.preferences_text["marketing_cookies_checkbox"] -%}
    {%- assign marketing_cookies_text = shop.metafields.preferences_text["marketing_cookies_text"] -%}

    {%- assign functionality_cookies_checkbox = shop.metafields.preferences_text["functionality_cookies_checkbox"] -%}
    {%- assign functionality_cookies_text = shop.metafields.preferences_text["functionality_cookies_text"] -%}

    {%- assign popup_header = shop.metafields.preferences_text["popup_header"] -%}
    {%- assign popup_description = shop.metafields.preferences_text["popup_description"]| replace: '"' , '"' | strip_newlines -%}
    {%- assign dismiss_button_text = shop.metafields.preferences_text["dismiss_button_text"] -%}

    {%- assign accept_selected_button_text = shop.metafields.preferences_text["accept_selected_button_text"] -%}
    {%- assign accept_all_button_text = shop.metafields.preferences_text["accept_all_button_text"] -%}
    {%- assign reject_all_button_text = shop.metafields.preferences_text["reject_all_button_text"] -%}

    {%- assign data_collection_text = shop.metafields.preferences_text["data_collection_text"] -%}

    {%- assign cookie__ab = shop.metafields.cookie_description["_ab"] -%}
    {%- assign cookie__orig_referrer = shop.metafields.cookie_description["_orig_referrer"] -%}
    {%- assign cookie_identity_state = shop.metafields.cookie_description["identity_state"] -%}
    {%- assign cookie_identity_customer_account_number = shop.metafields.cookie_description["identity_customer_account_number"] -%}
    {%- assign cookie__landing_page = shop.metafields.cookie_description["_landing_page"] -%}
    {%- assign cookie__secure_session_id = shop.metafields.cookie_description["_secure_session_id"] -%}
    {%- assign cookie_cart = shop.metafields.cookie_description["cart"] -%}
    {%- assign cookie_cart_sig = shop.metafields.cookie_description["cart_sig"] -%}
    {%- assign cookie_cart_ts = shop.metafields.cookie_description["cart_ts"] -%}
    {%- assign cookie_cart_ver = shop.metafields.cookie_description["cart_ver"] -%}
    {%- assign cookie_cart_currency = shop.metafields.cookie_description["cart_currency"] -%}
    {%- assign cookie_tracked_start_checkout = shop.metafields.cookie_description["tracked_start_checkout"] -%}
    {%- assign cookie_storefront_digest = shop.metafields.cookie_description["storefront_digest"] -%}
    {%- assign cookie_checkout_token = shop.metafields.cookie_description["checkout_token"] -%}
    {%- assign cookie__shopify_m = shop.metafields.cookie_description["_shopify_m"] -%}
    {%- assign cookie__shopify_tm = shop.metafields.cookie_description["_shopify_tm"] -%}
    {%- assign cookie__shopify_tw = shop.metafields.cookie_description["_shopify_tw"] -%}
    {%- assign cookie__tracking_consent = shop.metafields.cookie_description["_tracking_consent"] -%}
    {%- assign cookie_secure_customer_sig = shop.metafields.cookie_description["secure_customer_sig"] -%}
    {%- assign cookie__shopify_y = shop.metafields.cookie_description["_shopify_y"] -%}
    {%- assign cookie_customer_auth_provider = shop.metafields.cookie_description["customer_auth_provider"] -%}
    {%- assign cookie_customer_auth_session_created_at = shop.metafields.cookie_description["customer_auth_session_created_at"] -%}
    {%- assign cookie__y = shop.metafields.cookie_description["__y"] -%}
    {%- assign cookie__shopify_s = shop.metafields.cookie_description["_shopify_s"] -%}
    {%- assign cookie__shopify_fs = shop.metafields.cookie_description["_shopify_fs"] -%}
    {%- assign cookie__ga = shop.metafields.cookie_description["_ga"] -%}
    {%- assign cookie__gid = shop.metafields.cookie_description["_gid"] -%}
    {%- assign cookie__gat = shop.metafields.cookie_description["_gat"] -%}
    {%- assign cookie__shopify_sa_t = shop.metafields.cookie_description["_shopify_sa_t"] -%}
    {%- assign cookie__shopify_sa_p = shop.metafields.cookie_description["_shopify_sa_p"] -%}
    {%- assign cookie_IDE = shop.metafields.cookie_description["IDE"] -%}
    {%- assign cookie__s = shop.metafields.cookie_description["__s"] -%}
    {%- assign cookie_GPS = shop.metafields.cookie_description["GPS"] -%}
    {%- assign cookie_PREF = shop.metafields.cookie_description["PREF"] -%}
    {%- assign cookie_BizoID = shop.metafields.cookie_description["BizoID"] -%}
    {%- assign cookie__fbp = shop.metafields.cookie_description["_fbp"] -%}
    {%- assign cookie___adroll = shop.metafields.cookie_description["__adroll"] -%}
    {%- assign cookie___adroll_v4 = shop.metafields.cookie_description["__adroll_v4"] -%}
    {%- assign cookie___adroll_fpc = shop.metafields.cookie_description["__adroll_fpc"] -%}
    {%- assign cookie___ar_v4 = shop.metafields.cookie_description["__ar_v4"] -%}
    {%- assign cookie_cookieconsent_preferences_disabled = shop.metafields.cookie_description["cookieconsent_preferences_disabled"] -%}
    {%- assign cookie_cookieconsent_status = shop.metafields.cookie_description["cookieconsent_status"] -%}
    {%- assign cookie_no_info = shop.metafields.cookie_description["no_info"] -%}

    {%- assign cookie__ab_duration = shop.metafields.cookie_duration["_ab"] -%}
    {%- assign cookie__orig_referrer_duration = shop.metafields.cookie_duration["_orig_referrer"] -%}
    {%- assign cookie_identity_state_duration = shop.metafields.cookie_duration["identity_state"] -%}
    {%- assign cookie_identity_customer_account_number_duration = shop.metafields.cookie_duration["identity_customer_account_number"] -%}
    {%- assign cookie__landing_page_duration = shop.metafields.cookie_duration["_landing_page"] -%}
    {%- assign cookie__secure_session_id_duration = shop.metafields.cookie_duration["_secure_session_id"] -%}
    {%- assign cookie_cart_duration = shop.metafields.cookie_duration["cart"] -%}
    {%- assign cookie_cart_sig_duration = shop.metafields.cookie_duration["cart_sig"] -%}
    {%- assign cookie_cart_ts_duration = shop.metafields.cookie_duration["cart_ts"] -%}
    {%- assign cookie_cart_ver_duration = shop.metafields.cookie_duration["cart_ver"] -%}
    {%- assign cookie_cart_currency_duration = shop.metafields.cookie_duration["cart_currency"] -%}
    {%- assign cookie_tracked_start_checkout_duration = shop.metafields.cookie_duration["tracked_start_checkout"] -%}
    {%- assign cookie_storefront_digest_duration = shop.metafields.cookie_duration["storefront_digest"] -%}
    {%- assign cookie_checkout_token_duration = shop.metafields.cookie_duration["checkout_token"] -%}
    {%- assign cookie__shopify_m_duration = shop.metafields.cookie_duration["_shopify_m"] -%}
    {%- assign cookie__shopify_tm_duration = shop.metafields.cookie_duration["_shopify_tm"] -%}
    {%- assign cookie__shopify_tw_duration = shop.metafields.cookie_duration["_shopify_tw"] -%}
    {%- assign cookie__tracking_consent_duration = shop.metafields.cookie_duration["_tracking_consent"] -%}
    {%- assign cookie_secure_customer_sig_duration = shop.metafields.cookie_duration["secure_customer_sig"] -%}
    {%- assign cookie__shopify_y_duration = shop.metafields.cookie_duration["_shopify_y"] -%}
    {%- assign cookie_customer_auth_provider_duration = shop.metafields.cookie_duration["customer_auth_provider"] -%}
    {%- assign cookie_customer_auth_session_created_at_duration = shop.metafields.cookie_duration["customer_auth_session_created_at"] -%}
    {%- assign cookie__y_duration = shop.metafields.cookie_duration["__y"] -%}
    {%- assign cookie__shopify_s_duration = shop.metafields.cookie_duration["_shopify_s"] -%}
    {%- assign cookie__shopify_fs_duration = shop.metafields.cookie_duration["_shopify_fs"] -%}
    {%- assign cookie__ga_duration = shop.metafields.cookie_duration["_ga"] -%}
    {%- assign cookie__gid_duration = shop.metafields.cookie_duration["_gid"] -%}
    {%- assign cookie__gat_duration = shop.metafields.cookie_duration["_gat"] -%}
    {%- assign cookie__shopify_sa_t_duration = shop.metafields.cookie_duration["_shopify_sa_t"] -%}
    {%- assign cookie__shopify_sa_p_duration = shop.metafields.cookie_duration["_shopify_sa_p"] -%}
    {%- assign cookie_IDE_duration = shop.metafields.cookie_duration["IDE"] -%}
    {%- assign cookie__s_duration = shop.metafields.cookie_duration["__s"] -%}
    {%- assign cookie_GPS_duration = shop.metafields.cookie_duration["GPS"] -%}
    {%- assign cookie_PREF_duration = shop.metafields.cookie_duration["PREF"] -%}
    {%- assign cookie_BizoID_duration = shop.metafields.cookie_duration["BizoID"] -%}
    {%- assign cookie__fbp_duration = shop.metafields.cookie_duration["_fbp"] -%}
    {%- assign cookie___adroll_duration = shop.metafields.cookie_duration["__adroll"] -%}
    {%- assign cookie___adroll_v4_duration = shop.metafields.cookie_duration["__adroll_v4"] -%}
    {%- assign cookie___adroll_fpc_duration = shop.metafields.cookie_duration["__adroll_fpc"] -%}
    {%- assign cookie___ar_v4_duration = shop.metafields.cookie_duration["__ar_v4"] -%}
    {%- assign cookie_cookieconsent_preferences_disabled_duration = shop.metafields.cookie_duration["cookieconsent_preferences_disabled"] -%}
    {%- assign cookie_cookieconsent_status_duration = shop.metafields.cookie_duration["cookieconsent_status"] -%}
    {%- assign cookie_no_info_duration = shop.metafields.cookie_duration["no_info"] -%}

    {%- assign cookie__ab_provider = shop.metafields.cookie_provider["_ab"] -%}
    {%- assign cookie__orig_referrer_provider = shop.metafields.cookie_provider["_orig_referrer"] -%}
    {%- assign cookie_identity_state_provider = shop.metafields.cookie_provider["identity_state"] -%}
    {%- assign cookie_identity_customer_account_number_provider = shop.metafields.cookie_provider["identity_customer_account_number"] -%}
    {%- assign cookie__landing_page_provider = shop.metafields.cookie_provider["_landing_page"] -%}
    {%- assign cookie__secure_session_id_provider = shop.metafields.cookie_provider["_secure_session_id"] -%}
    {%- assign cookie_cart_provider = shop.metafields.cookie_provider["cart"] -%}
    {%- assign cookie_cart_sig_provider = shop.metafields.cookie_provider["cart_sig"] -%}
    {%- assign cookie_cart_ts_provider = shop.metafields.cookie_provider["cart_ts"] -%}
    {%- assign cookie_cart_ver_provider = shop.metafields.cookie_provider["cart_ver"] -%}
    {%- assign cookie_cart_currency_provider = shop.metafields.cookie_provider["cart_currency"] -%}
    {%- assign cookie_tracked_start_checkout_provider = shop.metafields.cookie_provider["tracked_start_checkout"] -%}
    {%- assign cookie_storefront_digest_provider = shop.metafields.cookie_provider["storefront_digest"] -%}
    {%- assign cookie_checkout_token_provider = shop.metafields.cookie_provider["checkout_token"] -%}
    {%- assign cookie__shopify_m_provider = shop.metafields.cookie_provider["_shopify_m"] -%}
    {%- assign cookie__shopify_tm_provider = shop.metafields.cookie_provider["_shopify_tm"] -%}
    {%- assign cookie__shopify_tw_provider = shop.metafields.cookie_provider["_shopify_tw"] -%}
    {%- assign cookie__tracking_consent_provider = shop.metafields.cookie_provider["_tracking_consent"] -%}
    {%- assign cookie_secure_customer_sig_provider = shop.metafields.cookie_provider["secure_customer_sig"] -%}
    {%- assign cookie__shopify_y_provider = shop.metafields.cookie_provider["_shopify_y"] -%}
    {%- assign cookie_customer_auth_provider_provider = shop.metafields.cookie_provider["customer_auth_provider"] -%}
    {%- assign cookie_customer_auth_session_created_at_provider = shop.metafields.cookie_provider["customer_auth_session_created_at"] -%}
    {%- assign cookie__y_provider = shop.metafields.cookie_provider["__y"] -%}
    {%- assign cookie__shopify_s_provider = shop.metafields.cookie_provider["_shopify_s"] -%}
    {%- assign cookie__shopify_fs_provider = shop.metafields.cookie_provider["_shopify_fs"] -%}
    {%- assign cookie__ga_provider = shop.metafields.cookie_provider["_ga"] -%}
    {%- assign cookie__gid_provider = shop.metafields.cookie_provider["_gid"] -%}
    {%- assign cookie__gat_provider = shop.metafields.cookie_provider["_gat"] -%}
    {%- assign cookie__shopify_sa_t_provider = shop.metafields.cookie_provider["_shopify_sa_t"] -%}
    {%- assign cookie__shopify_sa_p_provider = shop.metafields.cookie_provider["_shopify_sa_p"] -%}
    {%- assign cookie_IDE_provider = shop.metafields.cookie_provider["IDE"] -%}
    {%- assign cookie__s_provider = shop.metafields.cookie_provider["__s"] -%}
    {%- assign cookie_GPS_provider = shop.metafields.cookie_provider["GPS"] -%}
    {%- assign cookie_PREF_provider = shop.metafields.cookie_provider["PREF"] -%}
    {%- assign cookie_BizoID_provider = shop.metafields.cookie_provider["BizoID"] -%}
    {%- assign cookie__fbp_provider = shop.metafields.cookie_provider["_fbp"] -%}
    {%- assign cookie___adroll_provider = shop.metafields.cookie_provider["__adroll"] -%}
    {%- assign cookie___adroll_v4_provider = shop.metafields.cookie_provider["__adroll_v4"] -%}
    {%- assign cookie___adroll_fpc_provider = shop.metafields.cookie_provider["__adroll_fpc"] -%}
    {%- assign cookie___ar_v4_provider = shop.metafields.cookie_provider["__ar_v4"] -%}
    {%- assign cookie_cookieconsent_preferences_disabled_provider = shop.metafields.cookie_provider["cookieconsent_preferences_disabled"] -%}
    {%- assign cookie_cookieconsent_status_provider = shop.metafields.cookie_provider["cookieconsent_status"] -%}
    {%- assign cookie_no_info_provider = shop.metafields.cookie_provider["no_info"] -%}

    <script type="text/javascript">
        window.isense_gdpr_privacy_policy_text = "{{ privacy_policy_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_accept_button_text = "{{ accept_button_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_close_button_text = "{{ close_button_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_reject_button_text = "{{ reject_button_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_change_cookies_text = "{{ change_cookies_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_text = "{{ text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_strict_cookies_checkbox = "{{ strict_cookies_checkbox | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_strict_cookies_text = "{{ strict_cookies_text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_analytics_cookies_checkbox = "{{ analytics_cookies_checkbox | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_analytics_cookies_text = "{{ analytics_cookies_text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_marketing_cookies_checkbox = "{{ marketing_cookies_checkbox | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_marketing_cookies_text = "{{ marketing_cookies_text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_functionality_cookies_checkbox = "{{ functionality_cookies_checkbox | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_functionality_cookies_text = "{{ functionality_cookies_text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_popup_header = "{{ popup_header | replace: '"' , '"' | strip_newlines }}";

        {% if popup_description == "empty_value" %}
        window.isense_gdpr_popup_description = "";
        {% else %}
        window.isense_gdpr_popup_description = "{{ popup_description | replace: '"' , '"' | strip_newlines }}";
        {% endif %}

        window.isense_gdpr_dismiss_button_text = "{{ dismiss_button_text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_accept_selected_button_text = "{{ accept_selected_button_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_accept_all_button_text = "{{ accept_all_button_text | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_reject_all_button_text = "{{ reject_all_button_text | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_data_collection_text = "{{ data_collection_text | replace: '"' , '"' | strip_newlines }}";
        
        window.isense_gdpr_cookie__ab = "{{ cookie__ab | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__orig_referrer = "{{ cookie__orig_referrer | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_identity_state = "{{ cookie_identity_state | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_identity_customer_account_number = "{{ cookie_identity_customer_account_number | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__landing_page = "{{ cookie__landing_page | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__secure_session_id = "{{ cookie__secure_session_id | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart = "{{ cookie_cart | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_sig = "{{ cookie_cart_sig | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_ts = "{{ cookie_cart_ts | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_ver = "{{ cookie_cart_ver | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_currency = "{{ cookie_cart_currency | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_tracked_start_checkout = "{{ cookie_tracked_start_checkout | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_storefront_digest = "{{ cookie_storefront_digest | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_checkout_token = "{{ cookie_checkout_token | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_m = "{{ cookie__shopify_m | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_tm = "{{ cookie__shopify_tm | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_tw = "{{ cookie__shopify_tw | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__tracking_consent = "{{ cookie__tracking_consent | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_secure_customer_sig = "{{ cookie_secure_customer_sig | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_y = "{{ cookie__shopify_y | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_customer_auth_provider = "{{ cookie_customer_auth_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_customer_auth_session_created_at = "{{ cookie_customer_auth_session_created_at | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__y = "{{ cookie__y | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_s = "{{ cookie__shopify_s | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_fs = "{{ cookie__shopify_fs | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__ga = "{{ cookie__ga | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__gid = "{{ cookie__gid | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__gat = "{{ cookie__gat | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_sa_t = "{{ cookie__shopify_sa_t | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_sa_p = "{{ cookie__shopify_sa_p | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_IDE = "{{ cookie_IDE | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__s = "{{ cookie__s | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_GPS = "{{ cookie_GPS | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_PREF = "{{ cookie_PREF | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_BizoID = "{{ cookie_BizoID | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__fbp = "{{ cookie__fbp | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll = "{{ cookie___adroll | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_v4 = "{{ cookie___adroll_v4 | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_fpc = "{{ cookie___adroll_fpc | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___ar_v4 = "{{ cookie___ar_v4 | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cookieconsent_preferences_disabled = "{{ cookie_cookieconsent_preferences_disabled | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cookieconsent_status = "{{ cookie_cookieconsent_status | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_no_info = "{{ cookie_no_info | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_cookie__ab_duration = "{{ cookie__ab_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__orig_referrer_duration = "{{ cookie__orig_referrer_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_identity_state_duration = "{{ cookie_identity_state_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_identity_customer_account_number_duration = "{{ cookie_identity_customer_account_number_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__landing_page_duration = "{{ cookie__landing_page_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__secure_session_id_duration = "{{ cookie__secure_session_id_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_duration = "{{ cookie_cart_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_sig_duration = "{{ cookie_cart_sig_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_ts_duration = "{{ cookie_cart_ts_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_ver_duration = "{{ cookie_cart_ver_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_currency_duration = "{{ cookie_cart_currency_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_tracked_start_checkout_duration = "{{ cookie_tracked_start_checkout_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_storefront_digest_duration = "{{ cookie_storefront_digest_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_checkout_token_duration = "{{ cookie_checkout_token_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_m_duration = "{{ cookie__shopify_m_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_tm_duration = "{{ cookie__shopify_tm_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_tw_duration = "{{ cookie__shopify_tw_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__tracking_consent_duration = "{{ cookie__tracking_consent_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_secure_customer_sig_duration = "{{ cookie_secure_customer_sig_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_y_duration = "{{ cookie__shopify_y_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_customer_auth_provider_duration = "{{ cookie_customer_auth_provider_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_customer_auth_session_created_at_duration = "{{ cookie_customer_auth_session_created_at_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__y_duration = "{{ cookie__y_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_s_duration = "{{ cookie__shopify_s_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_fs_duration = "{{ cookie__shopify_fs_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__ga_duration = "{{ cookie__ga_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__gid_duration = "{{ cookie__gid_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__gat_duration = "{{ cookie__gat_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_sa_t_duration = "{{ cookie__shopify_sa_t_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_sa_p_duration = "{{ cookie__shopify_sa_p_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_IDE_duration = "{{ cookie_IDE_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__s_duration = "{{ cookie__s_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_GPS_duration = "{{ cookie_GPS_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_PREF_duration = "{{ cookie_PREF_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_BizoID_duration = "{{ cookie_BizoID_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__fbp_duration = "{{ cookie__fbp_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_duration = "{{ cookie___adroll_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_v4_duration = "{{ cookie___adroll_v4_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_fpc_duration = "{{ cookie___adroll_fpc_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___ar_v4_duration = "{{ cookie___ar_v4_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cookieconsent_preferences_disabled_duration = "{{ cookie_cookieconsent_preferences_disabled_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cookieconsent_status_duration = "{{ cookie_cookieconsent_status_duration | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_no_info_duration = "{{ cookie_no_info_duration | replace: '"' , '"' | strip_newlines }}";

        window.isense_gdpr_cookie__ab_provider = "{{ cookie__ab_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__orig_referrer_provider = "{{ cookie__orig_referrer_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_identity_state_provider = "{{ cookie_identity_state_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_identity_customer_account_number_provider = "{{ cookie_identity_customer_account_number_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__landing_page_provider = "{{ cookie__landing_page_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__secure_session_id_provider = "{{ cookie__secure_session_id_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_provider = "{{ cookie_cart_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_sig_provider = "{{ cookie_cart_sig_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_ts_provider = "{{ cookie_cart_ts_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_ver_provider = "{{ cookie_cart_ver_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cart_currency_provider = "{{ cookie_cart_currency_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_tracked_start_checkout_provider = "{{ cookie_tracked_start_checkout_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_storefront_digest_provider = "{{ cookie_storefront_digest_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_checkout_token_provider = "{{ cookie_checkout_token_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_m_provider = "{{ cookie__shopify_m_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_tm_provider = "{{ cookie__shopify_tm_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_tw_provider = "{{ cookie__shopify_tw_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__tracking_consent_provider = "{{ cookie__tracking_consent_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_secure_customer_sig_provider = "{{ cookie_secure_customer_sig_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_y_provider = "{{ cookie__shopify_y_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_customer_auth_provider_provider = "{{ cookie_customer_auth_provider_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_customer_auth_session_created_at_provider = "{{ cookie_customer_auth_session_created_at_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__y_provider = "{{ cookie__y_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_s_provider = "{{ cookie__shopify_s_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_fs_provider = "{{ cookie__shopify_fs_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__ga_provider = "{{ cookie__ga_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__gid_provider = "{{ cookie__gid_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__gat_provider = "{{ cookie__gat_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_sa_t_provider = "{{ cookie__shopify_sa_t_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__shopify_sa_p_provider = "{{ cookie__shopify_sa_p_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_IDE_provider = "{{ cookie_IDE_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__s_provider = "{{ cookie__s_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_GPS_provider = "{{ cookie_GPS_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_PREF_provider = "{{ cookie_PREF_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_BizoID_provider = "{{ cookie_BizoID_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie__fbp_provider = "{{ cookie__fbp_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_provider = "{{ cookie___adroll_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_v4_provider = "{{ cookie___adroll_v4_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___adroll_fpc_provider = "{{ cookie___adroll_fpc_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie___ar_v4_provider = "{{ cookie___ar_v4_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cookieconsent_preferences_disabled_provider = "{{ cookie_cookieconsent_preferences_disabled_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_cookieconsent_status_provider = "{{ cookie_cookieconsent_status_provider | replace: '"' , '"' | strip_newlines }}";
        window.isense_gdpr_cookie_no_info_provider = "{{ cookie_no_info_provider | replace: '"' , '"' | strip_newlines }}";
    </script>
  
  {% render 'pagefly-head' %}
  <!-- Canopy 4.0.1 -->
  <link rel="preload" href="{{ 'styles.min.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'prefetch.js' | asset_url }}" as="script">
  {% render 'head-tag' %}
  <meta name="theme-color" content="{{ settings.feature_col }}">
  <meta name="facebook-domain-verification" content="ei8eb5jrgfuga7p58j4xau6yzegr36" />
  {{ 'prefetch.js' | asset_url | script_tag }}
  <!-- Google Tag Manager -->
<!--  <script type="text/lazyload">
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TRNWGS8');
  </script> -->
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager integration- script from Consentmo GDPR Compliance App -->
  <script id="gdpr-gtm-blocking-script">
    let isGTMExecuted = false;
    function executeGTM() {
      if(!isGTMExecuted) {
        // The content of Google Tag Manager script goes here
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TRNWGS8');
        isGTMExecuted = true;
      }
    }
    function checkConsentForGTM(adittionalChecks = 0) {  
      let cpdCookie=(document.cookie.match(/^(?:.*;)?\s*cookieconsent_preferences_disabled(\s*=\s*([^;]+)?)(?:.*)?$/)||[,null])[1];
      if(cpdCookie != null) {
        if(parseInt(cpdCookie.indexOf('marketing')) === -1 && parseInt(cpdCookie.indexOf('analytics')) === -1) {
          executeGTM();
        }
      } else {
        let gdprCache = localStorage.getItem('gdprCache') ? JSON.parse(localStorage.getItem('gdprCache')) : null;
        let gdprCacheConsentSettings = gdprCache && gdprCache.getCookieConsentSettings ? JSON.parse(gdprCache.getCookieConsentSettings) : null;
        let gdprCacheCountryDetection = gdprCache && gdprCache.countryDetection ? JSON.parse(gdprCache.countryDetection) : null;
        let ccsCookie = (document.cookie.match(/^(?:.*;)?\s*cookieconsent_status\s*=\s*([^;]+)(?:.*)?$/)||[,null])[1];
        if((gdprCacheConsentSettings || (gdprCacheCountryDetection && gdprCacheCountryDetection.disable === '1')) && !ccsCookie) {
          if((gdprCacheConsentSettings && gdprCacheConsentSettings.status === 'disabled') || gdprCacheCountryDetection.disable === '1'){
            executeGTM();
          } else {
            let initPreferences = parseInt(gdprCacheConsentSettings.checkboxes_behavior);
            if(initPreferences === 1 || initPreferences === 4) {
              executeGTM();
            }
          }
        } else {
          if (adittionalChecks > 0) {
            setTimeout(function() {
              checkConsentForGTM(adittionalChecks - 1);
            }, 1000);
          } else {
            executeGTM();
          }
        }
      }
    }
  
    checkConsentForGTM(3);
  </script>
  
  <!-- Google tag (gtag.js) -->
<!--  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-782223480"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-782223480');
  </script> -->
 
  <!-- Google Ads integration- script from Consentmo GDPR Compliance App -->
  <script async id="gads-loading-script"></script>
  <script id="gdpr-gads-blocking-script">
    let isGADSExecuted = false;
    let gadsScript = document.getElementById('gads-loading-script');
    let gadsLink = '{{ 'https://www.googletagmanager.com/gtag/js?id=AW-782223480' }}';
  
    function executeGADS() {
      if(!isGADSExecuted) {
        gadsScript.setAttribute('src', gadsLink);
        // The content of Google Ads script goes here
       window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-782223480');
        isGADSExecuted = true;
      }
    }
    function checkConsentForGADS(adittionalChecks = 0) {  
      let cpdCookie=(document.cookie.match(/^(?:.*;)?\s*cookieconsent_preferences_disabled(\s*=\s*([^;]+)?)(?:.*)?$/)||[,null])[1];
      if(cpdCookie != null) {
        if(parseInt(cpdCookie.indexOf('marketing')) === -1) {
          executeGADS();
        }
      } else {
        let gdprCache = localStorage.getItem('gdprCache') ? JSON.parse(localStorage.getItem('gdprCache')) : null;
        let gdprCacheConsentSettings = gdprCache && gdprCache.getCookieConsentSettings ? JSON.parse(gdprCache.getCookieConsentSettings) : null;
        let gdprCacheCountryDetection = gdprCache && gdprCache.countryDetection ? JSON.parse(gdprCache.countryDetection) : null;
        let ccsCookie = (document.cookie.match(/^(?:.*;)?\s*cookieconsent_status\s*=\s*([^;]+)(?:.*)?$/)||[,null])[1];
        if((gdprCacheConsentSettings || (gdprCacheCountryDetection && gdprCacheCountryDetection.disable === '1')) && !ccsCookie) {
          if((gdprCacheConsentSettings && gdprCacheConsentSettings.status === 'disabled') || gdprCacheCountryDetection.disable === '1'){
            executeGADS();
          } else {
            let initPreferences = parseInt(gdprCacheConsentSettings.checkboxes_behavior);
            if(initPreferences === 1 || initPreferences === 3 || initPreferences === 4 || initPreferences === 6) {
              executeGADS();
            }
          }
        } else {
          if (adittionalChecks > 0) {
            setTimeout(function() {
              checkConsentForGADS(adittionalChecks - 1);
            }, 1000);
          } else {
            executeGADS();
          }
        }
      }
    }
  
    checkConsentForGADS(3);
  </script>

  
  <!-- Global Site Tag (GA4) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-WNHPLE6192"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-WNHPLE6192');
  </script> -->
  <!-- Google Analytics 4 integration- script from Consentmo GDPR Compliance App -->
  <script async id="gaf-loading-script"></script>
  <script id="gdpr-gaf-blocking-script">
    let isGAFExecuted = false;
    let gafScript = document.getElementById('gaf-loading-script');
    let gafLink = 'https://www.googletagmanager.com/gtag/js?id=G-WNHPLE6192';

    function executeGAF() {
      if(!isGAFExecuted) {
        gafScript.setAttribute('src', gafLink);
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-WNHPLE6192');
        isGAFExecuted = true;
      }
    }
    function checkConsentForGAF(adittionalChecks = 0) {  
      let cpdCookie=(document.cookie.match(/^(?:.*;)?\s*cookieconsent_preferences_disabled(\s*=\s*([^;]+)?)(?:.*)?$/)||[,null])[1];
      if(cpdCookie != null) {
        if(parseInt(cpdCookie.indexOf('analytics')) === -1) {
          executeGAF();
        }
      } else {
        let gdprCache = localStorage.getItem('gdprCache') ? JSON.parse(localStorage.getItem('gdprCache')) : null;
        let gdprCacheConsentSettings = gdprCache && gdprCache.getCookieConsentSettings ? JSON.parse(gdprCache.getCookieConsentSettings) : null;
        let gdprCacheCountryDetection = gdprCache && gdprCache.countryDetection ? JSON.parse(gdprCache.countryDetection) : null;
        let ccsCookie = (document.cookie.match(/^(?:.*;)?\s*cookieconsent_status\s*=\s*([^;]+)(?:.*)?$/)||[,null])[1];
        if((gdprCacheConsentSettings || (gdprCacheCountryDetection && gdprCacheCountryDetection.disable === '1')) && !ccsCookie) {
          if((gdprCacheConsentSettings && gdprCacheConsentSettings.status === 'disabled') || gdprCacheCountryDetection.disable === '1'){
            executeGAF();
          } else {
            let initPreferences = parseInt(gdprCacheConsentSettings.checkboxes_behavior);
            if(initPreferences === 1 || initPreferences === 2 || initPreferences === 4 || initPreferences === 5) {
              executeGAF();
            }
          }
        } else {
          if (adittionalChecks > 0) {
            setTimeout(function() {
              checkConsentForGAF(adittionalChecks - 1);
            }, 1000);
          } else {
            executeGAF();
          }
        }
      }
    }
  
    checkConsentForGAF(3);
  </script>

  <title>
    {{ page_title }}{% if current_tags %} – {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} – {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}
  </title>
  {% render 'social-meta-tags' %}
  {{ 'styles.css' | asset_url | stylesheet_tag }}

  {% comment %}
    Custom country-switcher Styles
  {% endcomment %}
  {{ 'currency_selector.css' | asset_url | stylesheet_tag }}
  {{ 'predictive_search.min.css' | asset_url | stylesheet_tag }}
  
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = window.theme || {};
    theme.money_format = {{ shop.money_format | json }};
    theme.customerIsLoggedIn = {% if shop.customer_accounts_enabled and customer %}true{% else %}false{% endif %};
    theme.shippingCalcMoneyFormat = {{ shop.money_with_currency_format | json }};

    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }},
      shippingCalcSubmitButton: {{ 'cart.shipping_calculator.submit' | t | json }},
      shippingCalcSubmitButtonDisabled: {{ 'cart.shipping_calculator.loading' | t | json }},
      infiniteScrollCollectionLoading: {{ 'collections.infinite_scroll.loading' | t | json }},
      infiniteScrollCollectionFinishedMsg : {{ 'collections.infinite_scroll.no_more' | t | json }},
      infiniteScrollBlogLoading: {{ 'blogs.infinite_scroll.loading' | t | json }},
      infiniteScrollBlogFinishedMsg : {{ 'blogs.infinite_scroll.no_more' | t | json }},
      blogsShowTags: {{ 'blogs.general.show_tags' | t | json }},
      priceNonExistent: {{ 'products.variant.non_existent' | t | json }},
      buttonDefault: {{ 'products.grid.add_to_cart' | t | json }},
      buttonNoStock: {{ 'products.variant.out_of_stock' | t | json }},
      buttonNoVariant: {{ 'products.variant.non_existent' | t | json }},
      unitPriceSeparator: {{ 'products.product.unit_price_separator' | t | json }},
      onlyXLeft: {{ 'products.labels.only_x_left' | t: quantity: "[[ quantity ]]" | json }},
      productAddingToCart: {{ 'products.product.adding_to_cart' | t | json }},
      productAddedToCart: {{ 'products.product.added_to_cart_btn' | t | json }},
      quickbuyAdded: {{ 'products.general.quick_buy_added' | t | json }},
      cartSummary: {{ 'layout.cart_summary.cart' | t | json }},
      cartContinue: {{ 'cart.general.continue' | t | json }},
      colorBoxPrevious: {{ 'products.gallery.previous' | t | json }},
      colorBoxNext: {{ 'products.gallery.next' | t | json }},
      colorBoxClose: {{ 'products.gallery.close' | t | json }},
      imageSlider: {{ 'general.slider.images' | t | json }},
      confirmEmptyCart: {{ 'layout.cart_summary.confirm_empty_cart' | t | json }},
      inYourCart: {{ 'products.grid.item_is_in_cart' | t | json }},
      removeFromCart: {{ 'products.grid.remove_from_cart' | t | json }},
      clearAll: {{ 'collections.filtering.clear_all' | t | json }},
      layout_live_search_see_all: {{ 'layout.live_search.see_all' | t | json }},
      general_quick_search_pages: {{ 'general.quick_search.pages' | t | json }},
      general_quick_search_no_results: {{ 'general.quick_search.no_results' | t | json }},
      products_labels_sold_out: {{ 'products.labels.sold_out' | t | json }},
      products_labels_sale: {{ 'products.labels.sale' | t | json }},
      maximumQuantity: {{ 'cart.general.quantity_too_high' | t: quantity: "[quantity]" | json }},
      fullDetails: {{ 'products.general.full_details' | t | json }},
      cartConfirmRemove: {{ 'cart.general.confirm_remove' | t | json }}
    };

    theme.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}'
    };

    theme.scripts = {
      masonry: {{ 'masonry.v3.2.2.min.js' | asset_url | json }},
      jqueryInfiniteScroll: {{ 'jquery.infinitescroll.2.1.0.min.js' | asset_url | json }},
      underscore: {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | json }},
      shopifyCommon: {{ 'shopify_common.js' | shopify_asset_url | json }},
      jqueryCart: {{ 'shipping-calculator.v1.0.min.js' | asset_url | json }}
    };

    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      openCartDrawerOnMob: {{ settings.open_drawer_on_mobile | json }},
      quickBuyType: {{ settings.prod_quick_buy_type | json }},
      superscriptDecimals: {{ settings.superscript_decimals | json }}
    }
  </script>
{% comment %}
{% include 'sca.freegifts' %}
{% endcomment %}
    {% if template contains "cart" %}
      {% assign scripttags = content_for_header | split: 'var urls = ["' %}
      {% if scripttags.size > 1 %}
        {% assign scripttags = scripttags[1] %}
        {% assign scripttags = scripttags | split: '"];' %}
        {% if scripttags.size > 1 %}
          {% assign scripttags = scripttags[0] %}
          {% assign scripttags = scripttags | split: '","' %}
        {% endif %}
      {% endif %}

      {% assign fg_script_url = "" %}
        {% for url in scripttags %}
          {% if url contains "secomapp.com\/freegifts\/app\/"%}
            {% assign fg_script_url = url %}
          
          {% endif %}
        {% endfor %}

      {% if fg_script_url !="" %}
        {% assign content_for_header = content_for_header | remove: fg_script_url %}
      {% endif %}
      {% if fg_script_url !="" %}    
      <script src="{{ fg_script_url |remove:"\" }}"></script>
      {% endif %}
    {% endif %}
  {{ content_for_header }}

  <script>
    Shopify.money_format = {{ shop.money_format | json }};
  </script>

  {% render 'shogun-head' %}

  {% include 'GTM-product-datalayer' %}
{% render "geo" %}
{% comment %}}
  {{ 'wiremo-styles.css' | asset_url | stylesheet_tag }}
  {% render "wiremo-installed" %}
{% endcomment %}
 
{% render 'digismoothie-giftbox' %}
{% comment %}
<script type="text/javascript" src="https://cdn.sales.partner.stylight.net/v1/st.min.js"></script>
{% endcomment %}


  {% comment %}
  
  {% endcomment %}
{% include 'sm-red' %}
  <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=dfdf4fbb"></script>


  {% comment %}GTM DataLayer Snippets{% endcomment %}
  {% render 'gtm-cartDrawer-dataLayer', template: template %}
  {% render 'gtm-categoryPageClick-dataLayer', template: template %}
  {% render 'gtm-categoryPageLoaded-dataLayer', template: template %}
  {% render 'gtm-viewItem-dataLayer', template: template %}
  {% render 'gtm-cartLoaded-dataLayer', template: template %}
  {% render 'gtm-viewOrder-dataLayer', template: template %}
  
  {% include "globale-js" %}
{% comment %}ly_dir_styles_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_ha_he_fa_ks_ku_ps_ur_yi' contains language_code -%}{{- 'ly-rtl.css' | asset_url | stylesheet_tag -}}{%- endif -%}{% comment %}ly_dir_styles_end{% endcomment %}</head>


{%- assign homepage_divider_col_opacity = settings.homepage_divider_col | color_extract: 'alpha' -%}
<body class="template-{{ template.name }} {% if template.suffix != blank %}template-sfx-{{ template.suffix }}{% endif %} {% if template.directory != blank %}template-dir-{{ template.directory }}{% endif %}"
      data-cc-animate-timeout="80">
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRNWGS8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
{% if settings.animations_enabled_desktop %}
  <script>
    document.body.classList.add("cc-animate-enabled");
  </script>
{% endif %}
  
<a class="skip-link visually-hidden" href="#content">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

{% section 'cart-drawer' %}

<div id="page-wrap">
  <div id="page-wrap-inner">
    <a id="page-overlay" href="#" aria-controls="mobile-nav" aria-label="{{ 'layout.header.close_mobile_nav_aria_label' | t | escape }}"></a>

    <div id="page-wrap-content">
      {% section 'custom__section__market_popup' %}
      {%- unless
         template.name == "page"
         and page.handle == "skin-test"
         or page.handle == "skin-test-beta"
         or page.handle == "skin-test-staging"
         or page.handle == "skin-test-dev"
         or page.handle == "feedback"
         or page.handle == "feedback-dev"
      -%}
      {% section 'custom__section__announcement_bar' %}
      {% section 'announcement-bar' %}
      {% endunless %}
      {% section 'header' %}

      <main id="content">
        <div id="redorerLayouver" class="redorerLayouver DN"></div>
        <div id="reorderPopup" class="container reorderPopup DN">
          <div class="body">
            <div class="content-rdr no-label">
              <div class="title">Reorder</div>
              <div class="description-rdr">Please enter the email address you used for your last order. We will then send you a personal link which you can use to directly reorder your skin care products.</div>
       <!--       <form novalidate="" class="form valid pristine">-->
                <div class="fieldsrdr">
                  <div class="fieldrdr email first last valid">
                    <input id="emailRedorder" class="input-text" required="" type="email" name="email" autocomplete="off" placeholder="Enter the email of your last order.">
                    <div class="errorMessageReorder">
                      <span class="errReorderMessage DN">Error message</span>
                    </div>
                  </div>
                </div>
                <div class="buttons">
                  <button type="submit" class="buttonrdr primary" onclick="sendReorderMail()">Reorder</button>
                </div>
          <!--    </form>-->
            </div>
          </div>
          <div type="button" class="closerdr CP" onclick="closeRedorderPopUp()"></div>
        </div>

  <div id="skinTestPopup" class="container reorderPopup taketheTestPopup  DN">
          <div class="body">
            <div class="content-rdr no-label">
              <div class="title">Skin test result</div>
              <div class="description-rdr">Please enter the email address you used for your Skin test. We will then send you a personal link which you can use to directly see your personalized day and night cream.</div>
          <!--    <form novalidate="" class="form valid pristine">-->
                <div class="fieldsrdr">
                  <div class="fieldrdr email first last valid">
                    <input id="emailSkinTest" class="input-text" required="" type="email" name="email" autocomplete="off" placeholder="Enter the email of your Skin test.">
                    <div class="errorMessageReorder">
                      <span class="errReorderMessage DN">Error message</span>
                    </div>
                  </div>
                </div>
                <div class="buttons">
                  <button type="submit" class="buttonrdr primary" onclick="sendSkinTestMail()">View Result</button>
                </div>
           <!-- </form>-->
            </div>
          </div>
          <div type="button" class="closerdr CP" onclick="closeRedorderPopUp()"></div>
        </div>
        {{ content_for_layout }}
      </main>
    </div><!-- /#page-wrap-content -->

    {%- unless
       template.name == "page"
       and page.handle == "skin-test"
       or page.handle == "skin-test-beta"
       or page.handle == "skin-test-staging"
       or page.handle == "skin-test-dev"
       or page.handle == "skin-test-local-v2"
       or page.handle == "feedback"
       or page.handle == "feedback-dev"
    -%}
    {% section 'footer' %}
    {% endunless %}
  </div>
</div><!-- /#page-wrap -->

{% section 'popup' %}

<script>
  class ImageLazyLoaderInstance {
    constructor() {
      this.intersectionObserver = null;
      this.bindObservers();
      this.loadLazyImages();
    }

    static debounce(func, timeout = 300) {
      let timer;
      return (...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => {
          func.apply(this, args);
        }, timeout);
      };
    }

    loadLazyImage(img) {
      const imgLazySrc = img.getAttribute('data-lazy-src'),
        imgLazyBg = img.getAttribute('data-lazy-bg');

      if(!imgLazySrc && !imgLazyBg) {
        console.warn('CC', 'Unable to load lazy image, no URL specified', img);
        return;
      }

      const imageLoadHandler = (newSrc) => {
        if(imgLazySrc) {
          img.setAttribute('src', newSrc);
        } else {
          img.style.backgroundImage = `url('${newSrc}')`;
        }

        // When images are lazy loaded, add a class to any text shadow containers
        const closestTextShadow = img.closest('.has-tint--shadow');
        if (closestTextShadow) {
          closestTextShadow.classList.add('has-tint--shadow-in');
        }

        // Remove lazy placeholder
        if (img.parentElement.classList.contains('lazyload--placeholder')) {
          img.parentElement.classList.remove('lazyload--placeholder');
        }

        img.setAttribute('data-lazy-loaded', true);
      }

      // Find the closest parent with a width
      let imgWidth = img.clientWidth;
      if (imgWidth === 0) {
        let getWidth = function (imgParent) {
          return imgParent.clientWidth > 0 ? imgParent.clientWidth : getWidth(imgParent.parentElement);
        }
        imgWidth = getWidth(img.parentElement);
      }

        // Get the nearest width which is higher than this images width
      let closestWidth = 2048;
      for (let num of [80, 120, 180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]) {
        if (num > imgWidth) {
          closestWidth = num;
          break;
        }
      }

      // Load the image
      if(imgLazySrc || imgLazyBg){
        const imgUrl = imgLazySrc ? imgLazySrc : imgLazyBg,
          oldSrc = img.getAttribute('src') || img.style.backgroundImage,
          newSrc = imgUrl.replace('{width}x', closestWidth + (window.devicePixelRatio > 1 || window.innerWidth <= 1024 ? 'x@2x' : 'x'));

        if (!oldSrc || oldSrc !== newSrc) {
          const tempImage = new Image();
          tempImage.addEventListener('load', () => imageLoadHandler(newSrc));
          tempImage.src = newSrc;
        }
      }
    }

    loadLazyImages(recheckImages) {
      let selectorSuffix = recheckImages ? '' : ':not([data-lazy-loaded="true"])';

      // If image lazy loading is supported
      if ('loading' in HTMLImageElement.prototype) {
        document.querySelectorAll(`[data-lazy-src]${selectorSuffix}`).forEach(this.loadLazyImage);
        if(this.intersectionObserver) {
          document.querySelectorAll(`[data-lazy-bg]${selectorSuffix}`).forEach(imgBg => {
            this.intersectionObserver.observe(imgBg);
          });
        }
      } else if (this.intersectionObserver) {
        document.querySelectorAll(`[data-lazy-src]${selectorSuffix},[data-lazy-bg]${selectorSuffix}`).forEach(img => {
          this.intersectionObserver.observe(img);
        });
      } else {
        // Lazy loading and intersection observer not supported, fallback!!
        document.querySelectorAll(`[data-lazy-src]${selectorSuffix},[data-lazy-bg]${selectorSuffix}`).forEach(this.loadLazyImage);
      }
    }

    bindObservers() {
      // Observe scrolling where needed
      if ('IntersectionObserver' in window) {
        this.intersectionObserver = new IntersectionObserver(
          (entries, observer) => {
            entries.forEach(entry => {
              if (entry.isIntersecting) {
                const img = entry.target;
                observer.unobserve(img);
                this.loadLazyImage(img);
              }
            });
          }, {
            // Start lazy loading when within 200px of the image
            rootMargin: '0px 0px 400px 0px',
            threshold: 0.01
          }
        );
      }

      // Observe window resize events
      window.addEventListener('resize', ImageLazyLoaderInstance.debounce(() => this.loadLazyImages(true)));

      window.addEventListener("load", () => {
        // Observe DOM changes
        const observer = new MutationObserver(ImageLazyLoaderInstance.debounce(() => {
          this.loadLazyImages();

          // Broadcast an event for future usage
          document.documentElement.dispatchEvent(
            new CustomEvent('theme:body-dom-change', {bubbles: true, cancelable: false})
          );
        }, 10));

        observer.observe(document.body, {
          childList: true,
          subtree: true
        });
      });
    }
  }

  window.theme = window.theme || {};
  theme.imageLazyLoader = new ImageLazyLoaderInstance();

  /* Check for full width sections */
  theme.assessFullWidthSections = function() {
    document.querySelectorAll('.has-alt-bg').forEach(elem => elem.classList.remove('last-alt-bg'));
    document.querySelectorAll('.has-full-width-section').forEach(elem => elem.classList.remove('last-full-width-section'));
    document.querySelectorAll('#content .shopify-section > .use-alt-bg').forEach(elem => elem.parentElement.classList.add('has-alt-bg'));
    document.querySelectorAll('#content .shopify-section > .full-width-section').forEach(elem => {
      const section = elem.parentElement;
      section.classList.add('has-full-width-section');
      if (section.parentElement.lastElementChild === section) {
        section.classList.add('last-full-width-section');
      }
    });
  };
  theme.assessFullWidthSections();
</script>
  
 

  
<script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'currency_selector.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'predictive_search.min.js' | asset_url }}" defer="defer"></script>




  

{% render 'body-end-tag' %}
{{ 'instant.min.js' | asset_url | script_tag }}
  
  
 
  {% include 'js-translations' %}
  <script src="https://www.dwin1.com/24768.js" type="text/javascript" defer="defer"></script>


{% comment %}
<!-- CRITEO START -->
{% render 'criteo-tracking' %}
<!-- CRITEO END -->
{% endcomment %}

{% comment %}
{% render 'spurit_ufp2_theme_snippet' %}
{% render 'special-offers' %}
{% endcomment %}

{% comment %}
<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->
{% endcomment %}
  

   <style>
    
    [id^="quiz-kit-results-wrapper"],
#quiz-kit-result-advanced-wrapper {
display: none;
};

  </style>

<style>
  @media screen and (min-width: 768px) {
.slideshow .image-overlay .inner:not(.container) div.line-3 {
    flex-direction: row !important;
}
}
</style>

    <style>

    #quiz-kit-question-47662 #noteEmail {
   bottom:40px;
 }

  #quiz-kit-question-47814 #noteEmail {
   bottom:40px;
 }


@media only screen and (max-width: 768px){
 #quiz-kit-question-47662 #noteEmail {
   bottom:0px;
 }
  #quiz-kit-question-47814 #noteEmail {
   bottom:0px;
 }

}


    </style>
{% include 'sca.freegifts' %}
<script type="text/javascript" src="https://cdn.sales.partner.stylight.net/v1/st.min.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript">
var _learnq = _learnq || [];
  var classname = document.getElementsByClassName("product-add");
var addToCart = function() {
_learnq.push(['track', 'Added to Cart', item]);
}; for (var i = 0; i < classname.length; i++) {
classname[i].addEventListener('click', addToCart, false);
}
</script>

    <script>
      
      
$(".main-nav").find(".last").find(".sub-nav-list").find("li").first().find("a").removeAttr("href").css("cursor","pointer")
  $(".main-nav").find(".last").find(".sub-nav-list").find("li").first().find("a").on("click", function () {
    openTestResultPopUp();
  });

      setTimeout( function(){
        $("#mobile-nav").find("#sub-nav-menu-5").find(".sub-nav-list li").first().find("a").removeAttr("href").css("cursor","pointer");
         $("#mobile-nav").find("#sub-nav-menu-5").find(".sub-nav-list li").first().find("a").on("click", function () {
    openTestResultPopUp();
           $(".toggle-mob-nav").click();
  })
      }, 1000);



//  $(".main-nav").find(".last").find(".sub-nav-list").append('<li class="sub-nav-item"> <a class="sub-nav-item-link" onclick="openTestResultPopUp()" data-ly-mutation-count="1">Results & Order </a> </li>');
  </script>

  {%- comment -%} HIDE RECHARGE SUBCRIPTION OPTION FOR USERS OUTSIDE GERMANY AND AUSTRIA {%- endcomment -%}
  {% if template.name == 'product' %}
    <script>
      function hideRechargeWidget(state) {
        var rechargeSubWidgetContainer = $('.recharge-subscription-widget');
        if (rechargeSubWidgetContainer) {
          if (state) {
            rechargeSubWidgetContainer.hide()
            return
          }
          rechargeSubWidgetContainer.show()
        }
      }
      function manageSubscriptionOptn() {
        var subWidgetContainer = $(".recharge-subscription-widget");
        var subWidgetContainerPersonalised = $('.rc-widget-injection-parent');
        var pdpRecommendationWidget = $('#pdp_recommendation');

        // 1.A perform hiding when on normal product page
        if (subWidgetContainer) {
          var subRadio = subWidgetContainer.find('label.subscription-radio');
          var subDetails = subWidgetContainer.find('div.rc-subscription-details');
          if (subRadio) {
            subRadio.hide();
          }
          if (subDetails) {
            subDetails.hide()
          }
          hideRechargeWidget(false)
        }

        // 1.B perform hiding when on personalised product page
        if (subWidgetContainerPersonalised) {
          var subRadioPersonalised = subWidgetContainerPersonalised.find('label.rc_widget__option--subsave');
          var subRadioDetailsPersonalised = subWidgetContainerPersonalised.find("div.rc_popup");
          if (subRadioPersonalised) {
            subRadioPersonalised.hide();
          }
          if (subRadioDetailsPersonalised) {
            subRadioDetailsPersonalised.hide()
          }
        }
        // 1.C perform hiding of subscription option from recommendation widget when on personalised product page
        if (pdpRecommendationWidget) {
          var subRadioPersonalised = pdpRecommendationWidget.find('label.rc_widget__option--subsave');
          var subRadioDetailsPersonalised = pdpRecommendationWidget.find("div.rc_popup");
          if (subRadioPersonalised) {
            subRadioPersonalised.hide();
          }
          if (subRadioDetailsPersonalised) {
            subRadioDetailsPersonalised.hide()
          }
        }

        // call the function again after 100 milliseconds
        setTimeout( manageSubscriptionOptn, 100 );
      }
      // initially hide Recharge widget when DOM is ready
      $(document).ready(() => {
        hideRechargeWidget(true)
      })
      // perform main function on page load
      $(window).on("load", () => {
        $.getJSON('https://apiip.net/api/check?accessKey=b9372a73-cc79-4ac6-b56f-c9dbc660b5ec&output=json&fields=countryCode', function(result) {
          if (result && (result.countryCode === "DE")) {
            console.log("RECHARGE SUBSCRIPTION ALLOWED", result.countryCode)
            hideRechargeWidget(false)
          } else {
            console.log("RECHARGE HIDDEN SUBSCRIPTION NOT ALLOWED", result.countryCode)
            manageSubscriptionOptn()
          }
        })
      })
    </script>
  {% endif %}
  
  {%- comment -%} HIDE DROPDOWN FROM FREE GIFT OFFERS FOR SALES MOTIVATOR APP {%- endcomment -%}
  <script>
    function hideSalesMotivatorFreeGiftDropdown(state) {
      var freeGiftContainer = $('#gift_container');
      var freeGiftOfferContainer = undefined;
      var freeGiftOfferDropdown = undefined;
      if (freeGiftContainer) {
        freeGiftOfferContainer = freeGiftContainer.find('.giftsToOffer');
        if (freeGiftOfferContainer) {
          freeGiftOfferDropdown = freeGiftOfferContainer.find('.item-variants');
          freeGiftOfferDropdown.hide();
        }
      }
      setTimeout( hideSalesMotivatorFreeGiftDropdown, 100 );
    }
    $(document).ready(() => {
      hideSalesMotivatorFreeGiftDropdown();
    })
    $(window).on("load", () => {
      hideSalesMotivatorFreeGiftDropdown();
    })
  </script>

  <script>
    function skinTestPageRedirect() {
      // check if using international locale EN
      var isIntl = window.location.href.indexOf(".com/en-") > -1

      // if (window.location.href.indexOf("pages/ave-you-skin-test-en") > -1) {
      //   if (!isIntl) {
      //     window.location.replace("ave-you-skin-test-de")
      //   }
      // } else if (window.location.href.indexOf("pages/ave-you-skin-test-de") > -1) {
      //   if (isIntl) {
      //     window.location.replace("ave-you-skin-test-en")
      //   }
      // }
      if (window.location.href.indexOf("pages/ave-you-skin-test-de") > -1) {
        if (isIntl) {
          window.location.replace("ave-you-skin-test-en")
        }
      }
    }
    
    function redirectDESub() {
      if (window) {
        if (window.location.href.indexOf(".com/de") > -1 && window.location.href.indexOf(".com/de-") <= -1) {
          let x = window.location.href.replace(".com/de", ".com");
          window.location.href = x
        } else if (window.location.href.indexOf(".com/de/") > -1) {
          let x = window.location.href.replace(".com/de/", ".com/");
          window.location.href = x
        } else if (window.location.href.indexOf(".com/de-") > -1) {
          return
        }
      }
    }
    
    $(document).ready(() => {
      redirectDESub()

      // == temporary: redirect /en/ traffic to /en-us/
      let _p = window.location.pathname;
      if (`${_p}`.includes('/en/')) {
        let _h = window.location.host;
        if (_p) {
          let __p = `${_p}`.replace("/en/", "/en-us/")
          //window.location.replace(`https://${_h}${__p}`)
        }
      }
    })
    $(window).on("load", () => {
    })
  </script>
  
  <style>
    .jdgm-rev-widg__summary-inner .jdgm-link {
      display: none !important;
    }
  </style>
  {{ 'footer.min.js' | asset_url | script_tag | replace: 'src', 'defer src' }}
</html>

<script>
    $( document ).ready( function() {
        setTimeout( function() {
          $( '.zifyapps-sociallogin-wrapper > img' ).remove();
        }, 500 );
    } );
</script>

<style>
.layout-zify-socials a {
    color: #000 !important;
    border: solid 1px #000;
    line-height: 33px !important;
}
.layout-zify-socials a, 
.layout-zify-socials .cl-facebook, 
.layout-zify-socials .cl-google {
    background-color: transparent !important;
}
.layout-zify-socials a:before {
    line-height: 40px !important;
}
.social_heading {
    overflow: hidden;
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.social_heading:before,
.social_heading:after {
    background-color: #333;
    content: " ";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.social_heading:before {
    right: 0.5em;
    margin-left: -50%;
}
.social_heading:after {
    left: 0.5em;
    margin-right: -50%;
}
</style>